* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
    margin: 0;
}

/*
    ======================================== NAVBAR ====================================================================
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header .links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.links a:hover {
    color: #3D3BFF;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: #e8e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

/*
    ========================================== MAIN SECTION =====================================================================
*/

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.main-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 60px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 15px;
}

.prices p {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price {
    background-color: #3D3BFF;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}

.description h2 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 400;
}

.description p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 40px;
}

/*
    =================================== ABOUT SECTION ==========================================================
*/

.about {
    color: #fff;
    padding: 20px 90px 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.about.burabay {
    background-color: rgb(23, 23, 200);
}

.about.charyn {
    background-color: #ffaa00;
}

.about.emel {
    background: rgb(166, 1, 1); 
}

.about h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0px;
}

.about p {
    font-size: 25px;
    line-height: 30px;
}

/*
    ===================================== IMAGE CAROUSEL ====================================================================
*/

#burabayCarousel .carousel-item img {
  height: 500px;              /* Fixed height */
  width: 100%;                /* Full width */
  object-fit: cover;          /* Crop without stretching */
  object-position: center;    /* Center the image */
  border-radius: 10px;        /* Optional: rounded edges */
}


/*
    =================================== ITINERARY & DETAILS ===================================================
*/

.content {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 40px 90px 50px;
    margin-bottom: 50px;
}

.content h2 {
    margin: 0;
}

.content p {
    font-size: 20px;
    margin: 0;
}

li {
    font-size: 20px;
    line-height: 50px;
}

.content.det {
    padding: 30px 90px 20px;
}

.btn {
    text-decoration: none;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #3D3BFF;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background-color: #026396;
    color: #fff;
}

/*
    ================================================ FAQ SECTION ===============================================================
*/

.faq-section {
  width: 80%;  
  margin: 80px auto 50px auto;
}

.faq-heading {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #2c3e50;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.faq-question {
  width: 100%;
  background: #3D3BFF;
  color: white;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #026396;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  background: #fefefe;
  padding: 0 15px;
}

.faq-answer p {
  font-size: 20px;
  margin: 10px 0;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 15px;
}


footer {
    background-color: #001845;
    padding: 50px 100px;
    color: #F1F1F1;
}

footer h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/*
    ============================================== DARK MODE ===============================================================
*/

body.darkmode {
    color: #ffffff;
    background-color: #070b1d;
}

body.darkmode #logo {
    filter: invert(1) brightness(2);
}

body.darkmode #account {
    filter: invert(1) brightness(2);
}

body.darkmode .links a {
    color: #ffffff;
}

body.darkmode .content {
    background-color: #3a435d;
}

body.darkmode .faq-heading {
    color: #fff;
}

body.darkmode .faq-question {
  background-color: #3a435d;
  color: #f0f0f0;
}

body.darkmode .faq-answer {
  background-color: #121728;
  color: #fff;
}

body.darkmode .faq-item.active .faq-question {
  background-color: #3a435d;
  color: #fff;
}

/*
    =============================================  MEDIA QUERIES ==========================================================
*/

@media (max-width: 390px) {
    header {
        flex-direction: column;
    }

    .links a {
        font-size: 15px;
    }

    #theme-switch {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 844px) {
    .container {
        width: 90%;
    }

    .container h1 {
        font-size: 50px;
    }

    .prices p {
        font-size: 22px;
    }

    .description h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .description p {
        font-size: 22px;
    }

    .about h2 {
        font-size: 35px;
    }

    .about p {
        font-size: 22px;
    }

    #burabayCarousel .carousel-item img {
        height: 300px;            /* Smaller height for mobile */
    }

    li {
        line-height: 35px;
    }
}


@media (max-width: 677px) {

    header {
        flex-direction: column;
    }

    .main-img {
        height: 250px;
    }

    .about {
        padding: 15px 60px;
    }

    .content {
        padding: 35px 50px 40px;
    }

    li {
        line-height: 30px;
    }

    .content.det {
        padding: 35px 50px 40px;
    }



}

@media (max-width: 430px) {
    .container h1 {
        font-size: 35px;
    }

    .prices {
        gap: 5px;
    }

    .prices p {
        font-size: 20px;
    }

    .price {
        padding: 2px 8px;
    }

    .description h2 {
        font-size: 25px;
    }

    .description p {
        font-size: 18px;
    }

    .about {
        padding: 10px 50px;
    }

    .about h2 {
        font-size: 25px;
    }

    .about p {
        font-size: 18px;
        line-height: 25px;
    }

    li {
        font-size: 15px;
        line-height: 25px;
    }

    .content p {
        font-size: 15px;
    }

    .content {
        padding: 30px 40px 30px;
    }

    .btn {
        font-size: 15px;
        padding: 12px 30px;
    }

    .faq-section {
        width: 90%;
    }

    .faq-answer p {
        font-size: 15px;
    }

    footer {
        padding: 25px 50px;
    }

}



